extends layout 

block content 
    h1=title 

    ul 
        each food_group in food_group_list 
            li 
                a(href=food_group.url) #{food_group.name}
        else 
            li There are no farms