extends layout 

block content 
    h1=title 

    ul 
        each store in store_list 
            li 
                a(href=store.url) #{store.name} : #{store.address}   
        else 
            li There are no stores